@import url(https://fonts.googleapis.com/css?family=Montserrat:200,400,600);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);

/* * {
border: 1px solid rgba(255, 0, 0, 1);
} */

:root {
  --main-grey: rgb(67, 69, 77);
  --main-darkgrey: rgb(31, 32, 36);
  --main-white: rgb(240, 240, 240);
  --text-white: rgb(220, 220, 220);  
}

html {
  position: relative;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  background-color: var(--main-grey);
  height: 100%;
}

/* Header CSS */

header {
  width: 100%;
  background-color: var(--main-darkgrey);
  position: fixed;
  top: 0;
  z-index: 1;
}

.header-container {
  margin: 0 auto;
  width: 90%;
  height: 4.5em;
  display: flex;
  align-items: center;
}

.memoji {
  height: 3em;
  display: inline-flex;
  align-items: center;
  margin-right: 1em;
}

.name {
  color: white;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 200;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
}

nav {
  display: inline-flex;
  margin-left: auto;
}

nav a {
  color: white;
  font-family: Raleway;
  font-size: 14px;
  text-transform: lowercase;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-bottom: .4em;
}

nav li {
  display: inline;
  list-style: none;
  margin-left: 35px;
}

.underline_animation::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  -webkit-transform: scaleX(0);
  visibility: hidden;
  -webkit-transition: all .6s ease;
}

.underline_animation:hover::after {
  -webkit-transform: scaleX(1);
  visibility: visible;
}

.container {
  margin-top: 4.5em;
}

/* Introduction CSS */

.intro {
  
}

.intro-container {
  height: calc(100vh - 4.5em);
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.intro-container h1 {
  margin: 0;
  padding-top: 2.5em;
  text-align: center;
  color: var(--text-white);
  font-size: 2.25vw;
  font-family: Montserrat;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}

.intro-container h2 {
  margin: 0;
  padding: 1em 0;
  text-align: center;
  color: var(--text-white);
  font-size: 1.5vw;
  font-family: Montserrat;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
}

.intro-container .memoji-image {
  width: 20vh;
  margin: 2em auto 0 auto;
  background-color: var(--main-white);
  border-radius: 50%;
}

.intro-container .layout-image {
  width: 40vw;
  margin: auto auto 0 auto;
}

/* About CSS */

.about {
  padding-top: 5em;
  height: 70vh;
  background-color: var(--main-white);
}

.grid-container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr; /*repeat(2, 1fr);*/
  grid-template-rows: auto;
}

.grid1 {
  grid-column: 1;
  grid-row: 1;
}

.grid2 {
  grid-column: 1;
  grid-row: 2;
}

.grid3 {
  grid-column: 1;
  grid-row: 3;
}

.picture {
  grid-column: 2;
  grid-row: 1 / 4;
}

.welcome-text {
  margin: 0;
  width: auto;
  color: #43454d;
  font-size: 45px;
  font-family: Raleway;
  -webkit-font-smoothing: antialiased;
}

.info {
  margin: 0;
  padding-top: 1em;
  max-width: 90%;
  color: var(--main-grey);
  font-size: 1.15em;
  font-family: 'Open Sans';
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

.email {
  text-decoration: none;
  font-weight: 400;
  color: var(--main-grey);
}

.picture img {
  float: right;
  border-radius: 2%;
}

@media(max-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .picture {
    grid-column: 1;
    grid-row: 4;
    margin: 0 auto;
  }
}

@media(max-width: 700px) {
  .info, .email {
    font-size: 14px;
  }
  .picture img {
    width:100%;
    height: 100%;
  }
}

/* Projects CSS */

.projects {
  min-height: calc(100vh - 8em);
}

.project-container {
  margin-top: -12.5em;
}

.project-card {
  margin: 0 auto;
  width: 60%;
  background-color: var(--main-grey);
  border-radius: 1em;
  border: 1px solid grey;
  height: 100vh;
}


/* Footer CSS */

footer {
  width: 100%;
  background-color: var(--main-darkgrey);
  position: absolute;
  bottom: 0;
}

.footer-container {
  width: 90%;
  height: 3em;
  margin: 0 auto;
  position: relative;
}

footer span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: Montserrat;
}

footer span label {
  font-size: 12px;
  letter-spacing: 0.6px;
  color: #c1c0c0;
}

.links {
  position: absolute;
  top: 55%;
  right: 0;
  transform: translateY(-50%);
}

.links a {
  margin-left: 1em;
  text-decoration: none;
  display: inline-block;
}

.links a:hover {
  opacity: 0.7;
}